body {
  width: 100%;
  height: 100%;
}
.blog,
.article {
  position: relative;
  height: fit-content;
  padding-bottom: 0;
}

.article,
.title {
  min-height: auto;
  height: fit-content;
  padding: 0 10px;
  white-space: normal;
}

.published {
  margin: 20px 0 60px;
  padding: 0 10px;
  text-transform: capitalize;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.published span {
  font-weight: 700;
  font-style: normal;
}

.article * {
  word-break: break-word;
  margin: 30px 0;
  color: #2d2d2d;
}

.article-image {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 30px auto;
  object-fit: contain;
}

.sub-heading {
  padding: 0 5vw;
  color: #2d2d2d;
  font-weight: 500;
  font-size: 40px;
  margin-top: 80px;
}

#edit-blog-btn {
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

@media (max-width: 700px) {
  .title {
    font-size: 35px;
  }
  .published {
    font-size: 15px;
    width: 360px;
  }
  .article {
    font-size: 19px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 30px;
    margin-top: 80px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 33px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .published {
    font-size: 13px;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .article {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 28px;
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 31px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .published {
    font-size: 12px;
    width: 360px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .article {
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
  }
  #edit-blog-btn {
    margin-left: 20px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 26px;
    margin-top: 80px;
  }
}
@media (max-width: 431px) {
  .banner {
    width: 103%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title,
  .article {
    width: 100%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 0px 0px 11px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 429px) {
  .title,
  .article {
    width: 400px;
    margin-left: 15px;
  }
  #edit-blog-btn {
    margin-left: 35px;
  }
}
@media (max-width: 422px) {
  .banner {
    width: 100%;
    min-width: none;
    max-width: none;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 180%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .published {
    width: 360px;
  }
}
@media (max-width: 431px) {
  .banner {
    width: 103%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title,
  .article {
    width: 100%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 0px 0px 11px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .published {
    width: 360px;
  }
}
@media (max-width: 429px) {
  .title,
  .article {
    width: 400px;
    margin-left: 15px;
  }
  #edit-blog-btn {
    margin-left: 35px;
  }
  .published {
    font-size: 12px;
    width: 360px;
    margin-left: 18px;
  }
}
@media (max-width: 422px) {
  .banner {
    width: 100%;
    min-width: none;
    max-width: none;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 180%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .published {
    width: 360px;
  }
}
@media (max-width: 410px) {
  .banner {
    width: 100%;
    min-width: none;
    max-width: none;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 170%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .title {
    font-size: 29px;
  }
  .published {
    font-size: 12px;
    width: 360px;
  }
  .article {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .blog {
    width: 370px;
  }
  .title {
    font-size: 29px;
  }
  .published {
    font-size: 12px;
  }
  .article {
    font-size: 16px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 24px;
    margin-top: 80px;
  }
  .banner {
    width: 100%;
    min-width: none;
    max-width: none;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 170%;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 381px) {
  .blog {
    width: 370px;
  }
  .title {
    font-size: 28px;
  }
  .published {
    font-size: 12px;
  }
  .article {
    font-size: 14px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 24px;
    margin-top: 80px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 22px;
    margin-top: 80px;
  }
  .banner {
    width: 101%;
    min-width: 400px;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 166%;
  }
  .blog-image {
    width: 104%;
    height: 200px;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 12px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 381px) {
  .blog {
    width: 370px;
  }
  .title {
    font-size: 28px;
  }
  .published {
    font-size: 12px;
  }
  .article {
    font-size: 14px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 24px;
    margin-top: 80px;
  }
  .sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 22px;
    margin-top: 80px;
  }
  .banner {
    width: 101%;
    min-width: 400px;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    right: 0;
  }
  .blog {
    width: 100px;
    margin-left: 5px;
    min-width: 210px;
  }
  .title,
  .article {
    width: 166%;
  }
  .blog-image {
    width: 104%;
    height: 200px;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 12px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 378px) {
  .blog-image {
    width: 106%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 370px) {
  .blog-image {
    width: 109%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 362px) {
  .blog-image {
    width: 111%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 354px) {
  .blog-image {
    width: 113%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 346px) {
  .blog-image {
    width: 115%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 338px) {
  .blog-image {
    width: 117%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 330px) {
  .blog-image {
    width: 119%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 326px) {
  .blog-image {
    width: 121%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}

@media (max-width: 322px) {
  .blog-image {
    width: 126%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 314px) {
  .blog-image {
    width: 128%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 306px) {
  .blog-image {
    width: 130%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 304px) {
  .blog-image {
    width: 131%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 300px) {
  .blog-image {
    width: 135%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}
