* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ececec;
  width: 100%;
  position: relative;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: #fff;
}

/* login hover */

.firebaseui-idp-button:hover {
  background: #000 !important;
}

.firebaseui-idp-text:hover {
  color: #fff !important;
  transition: 0.5s;
}

.heading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 60px;
  text-align: center;
  position: relative;
  margin: 150px 0 20px 0;
}

#dark {
  background: #1b1b1b;
  color: #fff;
}

#grey {
  background: #c5c5c5;
  color: #000;
  margin: 0 10px;
}

#grey:hover {
  background: #929090;
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

#danger {
  background: rgb(253, 55, 55);
  color: #fff;
}

.danger:hover {
  background: #f00;
  color: #fff;
  transition: 0.5s;
}
.blog-holder {
  width: 100%;
}
.blog-overview {
  margin: 10px 0 20px;
  line-height: 20px;
  height: 20px;
  overflow-y: hidden;
}
@media (max-width: 944px) {
  .blog-title {
    font-size: 25px;
  }
}
@media (max-width: 777px) {
  .blog-title {
    font-size: 21px;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 55px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
}
@media (max-width: 692px) {
  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
    height: 20px;
    overflow-y: hidden;
  }

  .blog-holder {
    width: 120%;
  }
}
@media (max-width: 692px) {
  .blog-title {
    font-size: 21px;
  }
}
@media (max-width: 615px) {
  .blog-title {
    font-size: 19px;
  }
}
@media (max-width: 595px) {
  .btn {
    padding: 8px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
}
@media (max-width: 520px) {
  .blog-title {
    font-size: 16px;
  }
  .btn {
    padding: 8px 13px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
  .blog-overview {
    overflow: hidden;
    height: 22px;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
}
@media (max-width: 486px) {
  .btn {
    padding: 8px 11px;
    font-size: px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 45px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
}
@media (max-width: 470px) {
  .blog-title {
    font-size: 15px;
  }
  .blog-image {
    width: 130%;
    height: 155px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 13vw 0px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .btn {
    padding: 8px 9px;
    font-size: 17px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 43px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
}
@media (max-width: 452px) {
  .blog-title {
    font-size: 15px;
  }
  .blog-image {
    width: 130%;
    height: 155px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 13vw 0px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .btn {
    padding: 8px 8px;
    font-size: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
}
@media (max-width: 460px) {
  .blog-title {
    font-size: 20px;
  }
  .blog-image {
    width: 100%;
    height: 220px;
  }
  .heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 150px 0 20px 0;
  }
  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .blog-overview {
    margin: 10px 0 30px;
    line-height: 25px;
  }
  .blog-holder {
    width: 100%;
  }
  .btn {
    padding: 8px 11px;
    font-size: 17px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
}
@media (max-width: 370px) {
  .blog-title {
    font-size: 17px;
  }
  .heading {
    font-size: 40px;
  }
}
