* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
  font-family: "poppins", sans-serif;
}
::selection {
  background: #1b1b1b;
  color: #fff;
}
.logo {
  width: 155px;
  height: 65px;
}
.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #fff;
  z-index: 9;
}

.link-item a:hover {
  background-color: #f0f0f0;
  transition: 0.5s;
  border-radius: 10px;
}
.links-container {
  display: flex;
  list-style: none;
}

.link {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.links-item:hover {
  background-color: #f0f0f0;
  height: 40px;
  padding-top: 7px;
  transition: 0.3s;
}

.responsive-side-bar {
  display: none;
}

.menu-button {
  display: none;
  padding-right: 10px;
}

.header {
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
 background-image: linear-gradient(rgba(236, 227, 227, 0.5)), url(../img/blogging-backdrop-with-laptop-msaf9d67o4r5dl74.jpg);
  background-size: cover;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.heading {
  color: #fff;
  text-transform: capitalize;
  font-size: 80px;
  line-height: 60px;
  margin-bottom: 80px;
  width: 100%;
  overflow-wrap: anywhere;
}

.heading .small {
  display: block;
  font-size: 40px;
  width: 100%;
}

.heading .no-fill {
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

.blogs-section {
  word-break: break-word;
  width: 100%;
  padding: 50px 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.blog-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blog-overview {
  margin: 10px 0 20px;
  line-height: 30px;
}
.btn.dark {
  background: #1b1b1b;
  color: #fff;
}

@media (max-width: 800px) {
  .blog-image {
    width: 115%;
    height: 200px;
  }
  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 9vw 0px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
  .blog-title {
    font-size: 25px;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 750px) {
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 670px) {
  .blog-image {
    width: 120%;
    height: 170px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10vw 0px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }

  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
  }
  .blog-title {
    font-size: 25px;
  }
}
@media (max-width: 630px) {
  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
  }
  .blog-title {
    font-size: 23px;
  }
}
@media (max-width: 600px) {
  .blog-image {
    width: 120%;
    height: 170px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10vw 0px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }

  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
  }
  .blog-title {
    font-size: 20px;
  }
  .link-item {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .responsive-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 29px;
    gap: 25px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
  }

  .responsive-side-bar li {
    width: 100%;
  }

  .responsive-side-bar a {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 570px) {
  .blog-overview {
    margin: 10px 0 20px;
    line-height: 20px;
    height: 22px;
    overflow-y: hidden;
  }
  .blog-title {
    font-size: 18px;
  }
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 75px;
    line-height: 60px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 35px;
    width: 100%;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 540px) {
  .blog-image {
    width: 122%;
    height: 150px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10vw 0px 9px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
  }
}
@media (max-width: 520px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 70px;
    line-height: 55px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 33px;
    width: 100%;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 480px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 65px;
    line-height: 55px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 32px;
    width: 100%;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 500px) {
  .blog-image {
    width: 125%;
    height: 150px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 11vw 0px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 470px) {
  .blog-image {
    width: 100%;
    height: 220px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .blog-overview {
    margin: 10px 0 30px;
    line-height: 25px;
  }
  .blog-title {
    font-size: 30px;
  }

  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 60px;
    line-height: 55px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 31px;
    width: 100%;
    height: 50px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .link-item {
    display: none;
  }
  .menu-button {
    display: block;
    padding-right: 15px;
  }

  .responsive-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    gap: 25px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
  }

  .responsive-side-bar li {
    width: 100%;
  }

  .responsive-side-bar a {
    width: 100%;
  }
  .logo {
    height: 60px;
    width: 120px;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 445px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 28px;
    width: 100%;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 400px) {
  .blog-image {
    width: 100%;
    height: 200px;
  }

  .blogs-section {
    word-break: break-word;
    width: 100%;
    padding: 50px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .blog-overview {
    margin: 10px 0 20px;
    line-height: 25px;
  }
  .blog-title {
    font-size: 30px;
  }

  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 28px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .link-item {
    display: none;
  }
  .menu-button {
    display: block;
    padding-right: 15px;
  }

  .responsive-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    gap: 25px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
  }

  .responsive-side-bar li {
    width: 100%;
  }

  .responsive-side-bar a {
    width: 100%;
  }
  .logo {
    height: 60px;
    width: 120px;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 390px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 25px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .link-item {
    display: none;
  }
  .menu-button {
    display: block;
    padding-right: 15px;
  }

  .responsive-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    gap: 25px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
  }

  .responsive-side-bar li {
    width: 100%;
  }

  .responsive-side-bar a {
    width: 100%;
  }
  .logo {
    height: 60px;
    width: 120px;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 360px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 24px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  .blog-title {
    font-size: 25px;
  }
  .link-item {
    display: none;
  }
  .menu-button {
    display: block;
    padding-right: 15px;
  }

  .responsive-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    gap: 25px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
  }

  .responsive-side-bar li {
    width: 100%;
  }

  .responsive-side-bar a {
    width: 100%;
  }
  .logo {
    height: 60px;
    width: 120px;
  }
  .navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
}
@media (max-width: 350px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 39px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 23px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 330px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 22px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
@media (max-width: 310px) {
  .heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 37px;
    line-height: 40px;
    margin-bottom: 80px;
    width: 100%;
    overflow-wrap: anywhere;
  }

  .heading .small {
    display: block;
    font-size: 21px;
    width: 100%;
    height: 40px;
  }

  .heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
