.return-to-home-page {
  text-align: left;
  margin-left: 30px;
  position: absolute;
  top: 10px;
  text-transform: capitalize;
  background-image: url(../uploads/1765536113317blogging-backdrop-with-laptop-msaf9d67o4r5dl74.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 110px;
  border-radius: 10px;
  box-shadow: 1px 3px 9px rgb(95, 66, 66);
}
.home-link {
  padding-left: 10px;
  text-decoration: none;
  color: rgba(241, 239, 239, 0.9);
  font-family: "poppins", sans-serif;
}

.return-to-home-page:hover {
  transition: 0.5s;
  box-shadow: 3px 6px 10px rgb(95, 66, 66);
}

.home-link:hover {
  color: rgba(36, 35, 35, 0.9);
  transition: 0.5s;
  font-family: "poppins", sans-serif;
}
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  background: #e7e7e7;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-upload-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.banner-upload-btn:hover {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}

.banner-upload-btn img {
  width: 25px;
}

.banner-upload-btn img:hover {
  width: 25px;
  margin-bottom: 3px;
}

.blog {
  width: 70vw;
  min-width: 400px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 50px 0;
}

textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: auto;
}

.title,
.article {
  width: 100%;
  min-height: 100px;
  height: auto;
  outline: none;
  font-size: 50px;
  font-weight: 600;
  color: #2d2d2d;
  resize: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.title::placeholder {
  background-image: linear-gradient(to left, black, rgb(245, 183, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article::placeholder {
  color: black;
}

.article {
  height: 500px;
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 100px;
  white-space: pre-wrap;
}

.blog-options {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.grey {
  background: #a5a5a5;
  color: #fff;
  margin-left: 20px;
  font-size: 14px;
}
@media (max-width: 431px) {
  .banner {
    width: 135%;
    height: 500px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .banner-upload-btn img {
    width: 35px;
  }

  .title,
  .article {
    width: 140%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }

  .title::placeholder {
    background-image: linear-gradient(to left, black, rgb(245, 183, 183));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .article::placeholder {
    color: black;
    font-size: 25px;
  }

  .article {
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
  }
}
@media (max-width: 429px) {
  .banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog {
    width: 100px;
    min-width: 420px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
  }
  .article {
    font-size: 20px;
    width: 100%;
  }

  .title {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 35px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    border-radius: 10px;
  }
  .article {
    font-size: 30px;
  }
  .article::placeholder {
    color: black;
    font-size: 20px;
  }
  .title::placeholder {
    color: black;
    font-size: 40px;
  }
  .banner-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  }
  .banner-upload-btn:hover {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
  }

  .banner-upload-btn img {
    width: 25px;
  }

  .banner-upload-btn img:hover {
    width: 25px;
    margin-bottom: 3px;
  }
}
@media (max-width: 422px) {
  .banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .article {
    font-size: 20px;
    width: 100%;
  }
  .blog {
    width: 100px;
    min-width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
  }
  .title {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    border-radius: 10px;
  }
  .article::placeholder {
    color: black;
    font-size: 17px;
  }
  .title::placeholder {
    color: black;
    font-size: 35px;
  }
  .banner-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  }
  .banner-upload-btn:hover {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
  }

  .banner-upload-btn img {
    width: 25px;
  }

  .banner-upload-btn img:hover {
    width: 25px;
    margin-bottom: 3px;
  }
}
