@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#client-name {
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

#client-name:hover {
  position: absolute;
  background: #d6d6d6;
  text-transform: capitalize;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  color: #080808;
  background: linear-gradient(110deg, #fc6a6a 0%, #ffc69d 100%);
}

.container {
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}

.wrapper {
  width: 300%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.card {
  width: 800px;
  min-height: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
}

.card-thumb {
  width: 70%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.client-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
}

.card-body {
  width: 120%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}

.review {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

.rating {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 25px;
  margin-right: 5px;
}

.indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.indicators button {
  background: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
}

button.active {
  width: 30px;
  border-radius: 50px;
  background: #fff;
}

@media (max-width: 800px) {
  .container {
    width: 50%;
    margin: auto;
  }
  .card {
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
  }
  .card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .container {
    width: 50%;
    margin: auto;
  }
  .card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
  .card {
    padding: 20px;
    margin: 0 25px;
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
    width: 300px;
  }

  .card-thumb {
    height: 250px;
  }

  .client-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .client-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 4px 18px;
    background: #fff;
    text-transform: capitalize;
    font-size: 12px;
  }

  .card-body {
    width: 96%;
    min-height: auto;
    margin-left: 0;
  }

  .review {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
  }

  .star {
    width: 22px;
    margin-right: 5px;
  }
}
@media (max-width: 340px) {
  .card {
    padding: 20px;
    margin: 0 30px;
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
    width: 300px;
  }
}
@media (max-width: 330px) {
  .card {
    padding: 20px;
    margin: 0 28px;
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
    width: 300px;
  }
}
@media (max-width: 320px) {
  .card {
    padding: 20px;
    margin: 0 32px;
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
    width: 300px;
  }
}
@media (max-width: 310px) {
  .card {
    padding: 20px;
    margin: 0 28px 0 30px;
    flex-direction: column;
    margin-top: 5px;
    height: 500px;
    width: 300px;
  }
}
